ion-content {
  --background: var(--risto-retro-green);
  --color: var(--risto-vanilla-cream);
}

// Estilos para el contenedor principal (nombres, logo, nombre de la app)
.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
}

// Estilos para el logo
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.5rem;
  padding-bottom: 3.5rem;
}

// Estilos para los nombres
.names-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.6rem;
  font-weight: 100;
  font-family: 'Playfair Display', serif;
  padding-top: 3.8rem;
  letter-spacing: 0.120rem;
}

.names-container p {
  margin: 0;
}

.app-name {
  letter-spacing: 0.110rem;
  font-size: 3.5rem;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
}

.rotating-logo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);

  animation: rotateLogo 2.5s ease-in-out infinite;
}

@keyframes rotateLogo {
  0% {
    transform: rotate(50deg);
  }

  100% {
    transform: rotate(360deg);
  }
}