:host {
  display: block;
  width: 100%;
}

.fab-wrapper {
  position: relative;
  width: 100%;
  height: 170px; // mueve el contenedor de los botones, ojo puede atravesar el login
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.main-fab {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -20%) scale(1.3);
  --border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 10;


  ion-icon {
    font-size: 45px;
    transition: transform 0.4s ease;
  }
}

.fab-wrapper.open .main-fab {
  width: 50px; //tamaño del boton cuando está abierto
  height: 50px;
  top: calc(env(safe-area-inset-top) + 10px);
  transform: translate(-50%, -82px);

  ion-icon {
    font-size: 40px;
  }
}

.profiles-grid {
  position: absolute;
  top: 20px; //distancia entre el boton y los perfiles
  left: 50%;
  transform: translate(-50%, 50px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
  width: 100%;
  max-width: 260px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 5;
}

.fab-wrapper.open .profiles-grid {
  opacity: 1;
  transform: translate(-50%, 1px);
  pointer-events: auto;
}

.profile-item {
  display: flex;
  justify-content: center;
  transition: transform 0.2s ease;

  &:active {
    transform: scale(0.9);
  }
}

.circular-button {
  --border-radius: 50%;
  --padding-start: 0;
  --padding-end: 0;
  width: 62px;
  height: 62px;
  margin: 0;

  ion-icon {
    font-size: 45px;
  }
}

.fab-wrapper p {
  position: absolute;
  top: -40px;
  left: 50%;
  font-family: 'Roboto', sans-serif;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--vanilla-cream);
  margin-top: 32px;
}