<ion-content [fullscreen]="true">

  <div class="login-container">

    <div class="logo-section">
      <img src="assets/icon/favicon.ico" alt="Logo" class="logo" />
    </div>

    <!-- Acceso Rápido -->


    <div class="form-section">
      <form [formGroup]="loginForm" (ngSubmit)="login()">

        <ion-item class="input-item" [ngClass]="{'has-error': f['email'].invalid && f['email'].touched}">
          <ion-input type="email" placeholder="Correo Electrónico" formControlName="email" (ionBlur)="onEmailBlur()"
            (keyup.enter)="login()">
          </ion-input>
        </ion-item>

        <ion-item class="input-item" [ngClass]="{'has-error': f['password'].invalid && f['password'].touched}">
          <ion-input type="password" placeholder="Contraseña" formControlName="password" (ionBlur)="onPasswordBlur()"
            (keyup.enter)="login()">
          </ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="login-button">
          Iniciar sesión
        </ion-button>

        <ion-button expand="block" class="register-button" routerLink="/registro-cliente">
          Registrarse
        </ion-button>

        <ion-button expand="block" class="anonymous-button" routerLink="/registro-anonimo">
          Registrarse como anónimo
        </ion-button>
      </form>
      <app-botones-acceso-rapido (credentialsSelected)="onCredentialsSelected($event)"></app-botones-acceso-rapido>
    </div>

  </div>

</ion-content>