<ion-content [fullscreen]="true">

  <div class="login-container">

    <div class="logo-section">
      <img src="assets/icon/favicon.ico" alt="Logo" class="logo" />
    </div>

    <!-- Acceso Rápido -->


    <div class="form-section">
      <form>

        <ion-item class="input-item" [ngClass]="{'has-error': !isEmailValid}">
          <ion-input type="email" placeholder="Correo Electrónico" [(ngModel)]="email" name="email" required
            (ngModelChange)="checkEmailVal()" (ionBlur)="onEmailBlur()" (keyup.enter)="login()">
          </ion-input>
        </ion-item>

        <ion-item class="input-item" [ngClass]="{'has-error': !isPasswordValid}">
          <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password" name="password" required
            (ngModelChange)="checkPasswordVal()" (ionBlur)="onPasswordBlur()" (keyup.enter)="login()">
          </ion-input>
        </ion-item>

        <ion-button expand="block" class="login-button" (click)="login()">
          Iniciar sesión
        </ion-button>

        <ion-button expand="block" fill="outline" class="register-button" routerLink="/registro-cliente"
          style="margin-top: 16px; --color: var(--risto-vanilla-cream); --border-color: var(--risto-vanilla-cream);">
          Registrarse
        </ion-button>
      </form>
      <app-botones-acceso-rapido (credentialsSelected)="onCredentialsSelected($event)"></app-botones-acceso-rapido>
    </div>

  </div>

</ion-content>