.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #356f45;
}

.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6vh;
  padding-bottom: 2rem;
  flex: 0.5;
  ;
}

.logo {
  width: 120px;
  max-width: 40%;
  height: auto;
  object-fit: contain;
  display: block;
}

.form-section {
  flex: 2;
  padding-left: 15%;
  padding-right: 15%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.input-item {
  --background: #F8EECB;
  --border-radius: 16px;
  --inner-border-width: 0px;
  border-radius: 16px;
  overflow: hidden;
  transition: --background 0.3s ease;
}

.input-item.has-error {
  /* Fondo rojo pálido para alertar por dentro y borde rojo fuerte */
  --background: #ffcccc;
  border: 2px solid var(--risto-fire-red);
}

ion-input {
  font-family: sans-serif;
  --color: var(--risto-retro-green);
  --placeholder-color: rgb(34, 71, 34);
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}

.login-button {
  --background: var(--risto-saffron);
  --color: var(--risto-retro-green);
  --border-radius: 16px;
  height: 48px;
  font-weight: 700;
}

.register-button {
  height: 48px;
  --border-radius: 160px;
  --color: var(--risto-retro-green);
  --background: var(--risto-saffron);
}

.anonymous-button {
  --border-radius: 16px;
  height: 50px;
  --color: var(--risto-retro-green);
  --background: var(--risto-purple);
}