<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="welcome-banner text-cream">
    <p>¡Completa tus datos para ser parte de la familia Ristodeli!</p>
  </div>

  <app-registro-formulario 
    [esEmpleado]="false" 
    [isLoading]="isSubmitting"
    (formSubmit)="onSubmitCliente($event)">
  </app-registro-formulario>
</ion-content>
