<ion-header class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-button (click)="configurarSalida()" color="dark">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-bold">Gestión de Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-green">
  <div class="welcome-container fade-in">
    <div class="logo-wrapper">
      <img src="assets/icon/favicon.ico" class="spin-logo" alt="Logo Ristodeli" />
    </div>
    <h1 class="text-cream welcome-title typewriter-text">¡Hola! ¿Qué vamos a pedir hoy?</h1>
  </div>
  <div class="actions-container fade-in">
    <ion-button expand="block" class="action-btn" (click)="irAMenu()">
      <ion-icon slot="start" name="restaurant-outline"></ion-icon>
      Hacer Pedido / Menú
    </ion-button>

    <ion-button expand="block" class="action-btn" (click)="consultarMozo()">
      <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
      Consultar Mozo
    </ion-button>
  </div>
</ion-content>