.risto-background {
    --background: #1e3d1a;
}

.toolbar-saffron {
    --background: #f5a623;
    --color: #1e3d1a;
}

.mesa-card {
    --background: #fdfaf0;
    border-radius: 20px;
    margin: 0;
    border: 2px solid #f5a623;
    overflow: hidden;

    .foto-mesa {
        position: relative;
        height: 100px;
        img { width: 100%; height: 100%; object-fit: cover; }

        .estado-badge {
            position: absolute;
            bottom: 5px;
            right: 5px;
            padding: 3px 8px;
            border-radius: 8px;
            font-size: 0.6rem;
            font-weight: 900;
            color: white;
            text-transform: uppercase;
            &.libre { background: #2dd36f; }
            &.ocupada { background: #eb445a; }
        }
    }

    .numero {
        color: #1e3d1a;
        font-weight: 900;
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .pax {
        color: #f5a623;
        font-weight: 800;
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 0.7rem;
    }
}

.qr-container-listado {
    background: white;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 5px;
    border: 1px solid #f5a623; // Naranja Ristodeli
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
    canvas {
        max-width: 100%;
        height: auto !important;
    }
}