.risto-background {
    --background: #1e3d1a;
}

.input-card {
    background: #f2cc8f;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.risto-input-item {
    --background: transparent;
    --color: #3d405b;
    --border-color: #81b29a;
    margin-bottom: 5px;

    ion-input, ion-textarea {
        font-weight: 600;
    }
}

.error-msg {
    color: #eb445a;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 2px 15px 10px;
}

.photo-zone {
    background: rgba(255, 255, 255, 0.1);
    border: 2px dashed #f2cc8f;
    border-radius: 20px;
    margin-bottom: 20px;

    .camera-main-icon {
        font-size: 3.5rem;
        color: #f2cc8f;
    }

    h3 { color: white; font-weight: 800; margin-top: 10px; }
    .photo-status { color: #f2cc8f; font-weight: bold; }
}

.photo-slots {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.photo-slot-card {
    width: 90px;
    height: 90px;
    background: #fdfaf0;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .product-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .btn-quitar {
        position: absolute;
        top: -5px;
        right: -5px;
        --padding-start: 0;
        --padding-end: 0;
    }
    
    .photo-placeholder {
        font-size: 2rem;
        color: #81b29a;
        .plus-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 1.2rem;
        }
    }
}

.footer-toolbar {
    --background: transparent;
}

.btn-guardar {
    height: 65px;
    font-weight: 900;
    font-size: 1.2rem;
    --border-radius: 15px;
}