<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="header-admin-title">Gestión de Cocina</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="dashboard-content">
  <app-management-actions 
    [role]="'cocinero'" 
    (actionClicked)="handleAction($event)">
  </app-management-actions>
</ion-content>