<ion-header class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-cliente" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-russet title-bold">Estadísticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-green">
  <div class="welcome-container fade-in">
    <div class="logo-wrapper">
      <img src="assets/icon/favicon.ico" class="spin-logo" alt="Logo Ristodeli" />
    </div>
    <h1 class="text-cream welcome-title typewriter-text">Reportes de Calidad</h1>
    <p class="text-cream welcome-subtitle">Analizá nuestra performance</p>
  </div>

  <div class="actions-container fade-in">
    <ion-button expand="block" shape="round" class="action-btn chart-btn" (click)="navegarAGrafico('bar')">
      <ion-icon slot="start" name="stats-chart-outline"></ion-icon>
      Estado de Limpieza
    </ion-button>

    <ion-button expand="block" shape="round" class="action-btn qr-btn" (click)="navegarAGrafico('pie')">
      <ion-icon slot="start" name="pie-chart-outline"></ion-icon>
      Satisfacción General
    </ion-button>
  </div>
</ion-content>
