<ion-header>
  <ion-toolbar class="toolbar-saffron">
    <ion-title class="text-russet title-bold">Menú - Metre</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="dark">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding risto-bg-alt">
  <div class="menu-container">
    <div class="logo-wrapper">
      <img src="assets/icon/favicon.ico" class="spin-logo" alt="Logo Ristodeli" />
    </div>
    
    <div class="botones-grid">
      <ion-button expand="block" class="menu-btn custom-btn secondary" routerLink="/gestion-salon">
        <ion-icon slot="start" name="restaurant-outline"></ion-icon>
        Gestión del Salón
      </ion-button>

      <ion-button expand="block" class="menu-btn custom-btn primary" routerLink="/registro-cliente">
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        Crear Cliente
      </ion-button>

      <ion-button expand="block" class="menu-btn custom-btn accent" (click)="verListaEspera()">
        <ion-icon slot="start" name="list-outline"></ion-icon>
        Lista de Espera
      </ion-button>

      <ion-button expand="block" class="menu-btn custom-btn highlight" (click)="verListaMesas()">
        <ion-icon slot="start" name="grid-outline"></ion-icon>
        Lista de Mesas
      </ion-button>
    </div>
  </div>
</ion-content>
