<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-saffron">
    <ion-title class="text-russet title-bold">🤵 PANEL METRE</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="risto-background">
  <div class="welcome-section ion-padding">
    <h1 class="welcome-title">Gestión de salón y mesas en tiempo real.</h1>
  </div>

  <app-management-actions 
    [role]="'metre'" 
    (actionClicked)="handleAction($event)">
  </app-management-actions>

  <div class="footer-decoration">
    <img src="assets/icon/favicon.ico" alt="Logo Ristodeli" class="logo-faded">
  </div>
</ion-content>