<ion-header class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-metre" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-russet title-bold">LISTA DE ESPERA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="risto-background ion-padding">
  
  <div class="header-section fade-in">
    <h2 class="section-title text-saffron">Clientes Esperando</h2>
    <p class="section-subtitle text-cream">Administre las solicitudes de mesa agendadas.</p>
  </div>

  @if (clientesEsperando.length === 0) {
    <div class="empty-state-premium fade-in">
      <div class="icon-circle">
        <ion-icon name="time-outline"></ion-icon>
      </div>
      <h3 class="text-saffron">¡Sin espera!</h3>
      <p class="text-cream">No hay clientes aguardando mesa en este momento.</p>
      <div class="decoration-line"></div>
    </div>
    <div class="logo-wrapper">
      <img src="assets/icon/favicon.ico" class="spin-logo" alt="Logo Ristodeli" />
    </div>
  } @else {
    <ion-list class="transparent-list fade-in">
      @for (cliente of clientesEsperando; track cliente.id) {
        <ion-item class="premium-item-lista mb-3">
          <div slot="start" class="avatar-espera-wrapper">
            <img [src]="cliente.foto || 'assets/img/default-user.png'" class="avatar-espera" />
          </div>
          
          <ion-label>
            <h2 class="cliente-nombre">{{ cliente.nombre }}</h2>
            <p class="cliente-estado">
              <ion-badge color="warning">EN FILA</ion-badge>
            </p>
          </ion-label>

          <div slot="end" class="asignacion-selector">
            <ion-item lines="none" class="select-item-inner">
              <ion-select 
                placeholder="ASIGNAR" 
                interface="popover"
                toggleIcon="restaurant-outline"
                (ionChange)="onMesaSelected($event, cliente)">
                @for (mesa of mesasLibres; track mesa.id) {
                  <ion-select-option [value]="mesa">
                    Mesa {{ mesa.numero }} ({{ mesa.tipo }})
                  </ion-select-option>
                }
              </ion-select>
            </ion-item>

          </div>
        </ion-item>
      }
    </ion-list>
  }
</ion-content>