<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-saffron">
    <ion-title class="text-russet title-bold">
      Hola {{ nombreCliente }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" color="dark">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-green">
  
  <div class="welcome-container fade-in">
    <div class="logo-wrapper">
      <img src="assets/icon/favicon.ico" class="spin-logo" alt="Logo Ristodeli" />
    </div>
    <h1 class="text-cream welcome-title typewriter-text">¡Bienvenido a Ristodeli!</h1>
    <p class="text-cream welcome-subtitle">¿Qué deseas hacer hoy?</p>
  </div>

  <div class="actions-container fade-in">
    <!-- <ion-button expand="block" shape="round" class="action-btn chart-btn">
      <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
      Ver Gráfico de Encuestas
    </ion-button> -->

    <ion-button expand="block" shape="round" class="action-btn qr-btn" (click)="escanearQr()">
      <ion-icon slot="start" name="qr-code-outline"></ion-icon>
      Escanear QR
    </ion-button>
  </div>

</ion-content>
