<ion-header class="ion-no-border">
  <ion-toolbar color="warning">
    <ion-title class="text-russet title-bold">
      Lista de Espera
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-cliente" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg-green">
  
  <div class="welcome-container fade-in">
    <div class="logo-wrapper">
      <img src="assets/icon/favicon.ico" class="spin-logo" alt="Logo Ristodeli" />
    </div>
    <h1 class="text-cream welcome-title typewriter-text">Estás en el Local</h1>
    <p class="text-cream welcome-subtitle">Ristodeli: Menos fila, más sabor</p>
  </div>

  <div class="actions-container fade-in">
    
    <ion-button expand="block" shape="round" 
                class="action-btn qr-btn" 
                (click)="solicitarMesa()">
      <ion-icon slot="start" name="hand-right-outline"></ion-icon>
      Solicitar Mesa
    </ion-button>

    <ion-button expand="block" shape="round" 
                class="action-btn chart-btn" 
                (click)="irAMenuEncuestas()">
      <ion-icon slot="start" name="bar-chart-outline"></ion-icon>
      Ver Encuestas
    </ion-button>

  </div>
</ion-content>