<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-cocinero" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-admin-title">PEDIDOS PENDIENTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding risto-background">
  @if (cargando) {
    <div class="spinner-full-screen">
      <ion-spinner name="crescent" color="light"></ion-spinner>
      <img src="assets/icon/favicon.ico" class="logo-animado" alt="Logo Empresa">
      <p>Actualizando pedidos...</p>
    </div>
  }

  @if (!cargando && pedidosAgrupados.length === 0) {
    <div class="empty-state ion-text-center">
      <ion-icon name="restaurant-outline"></ion-icon>
      <h2>No hay pedidos pendientes</h2>
      <p>La cocina está al día.</p>
    </div>
  }

  @for (grupo of pedidosAgrupados; track grupo.mesa_numero) {
    <div class="mesa-contenedor">
      <div class="mesa-header">
        <ion-icon name="grid-outline"></ion-icon>
        <span>MESA NÚMERO {{ grupo.mesa_numero }}</span>
      </div>

      @for (pedido of grupo.items; track pedido.id) {
        <ion-card class="pedido-card">
          <ion-card-header>
            <ion-row class="ion-justify-content-between ion-align-items-center">
              <ion-col>
                <ion-card-title>{{ pedido.producto_nombre | uppercase }}</ion-card-title>
                <ion-card-subtitle>INGRESO: {{ pedido.created_at | date:'HH:mm' }} HORAS</ion-card-subtitle>
              </ion-col>
              <ion-badge [color]="getEstadoColor(pedido.estado)">
                {{ pedido.estado | uppercase }}
              </ion-badge>
            </ion-row>
          </ion-card-header>

          <ion-card-content>
            <div class="info-preparacion">
              <p><strong>CANTIDAD:</strong> {{ pedido.cantidad }} UNIDADES</p>
              <p><strong>CATEGORÍA:</strong> {{ pedido.categoria | uppercase }}</p>
            </div>

            <ion-row class="ion-margin-top">
              @if (pedido.estado === 'Pendiente') {
                <ion-button expand="block" color="warning" class="btn-accion" (click)="cambiarEstado(pedido, 'En Preparacion')">
                  COMENZAR PREPARACIÓN
                </ion-button>
              }
              
              @if (pedido.estado === 'En Preparacion') {
                <ion-button expand="block" color="success" class="btn-accion" (click)="cambiarEstado(pedido, 'Listo')">
                  MARCAR COMO LISTO
                </ion-button>
              }
            </ion-row>
          </ion-card-content>
        </ion-card>
      }
      
      <div class="separador-mesas"></div>
    </div>
  }
</ion-content>