<ion-header class="ion-no-border">
  <ion-toolbar class="toolbar-saffron">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-russet title-bold">GESTIÓN DE MESAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="risto-background ion-padding">
  
  <ion-card class="producto-card" [disabled]="qrGenerado">
    <ion-card-header>
      <ion-card-title class="nombre" color=" #1e3d1a">ALTA DE MESA</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <div class="foto-mesa-container" (click)="!qrGenerado && tomarFoto()" [style.opacity]="qrGenerado ? '0.5' : '1'">
        @if (fotoMesa) {
          <img [src]="fotoMesa" alt="Foto Mesa">
        } @else {
          <div class="placeholder-foto">
            <ion-icon name="camera-outline"></ion-icon>
            <p>SUBIR FOTO DE LA MESA</p>
          </div>
        }
      </div>

      <ion-item lines="none" class="custom-input-mesa">
        <ion-label position="stacked">NÚMERO DE MESA</ion-label>
        <ion-input type="number" [(ngModel)]="nuevaMesa.numero" placeholder="Ej: 1"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input-mesa">
        <ion-label position="stacked">CAPACIDAD </ion-label>
        <ion-input type="number" [(ngModel)]="nuevaMesa.comensales" placeholder="Ej: 4"></ion-input>
      </ion-item>

      <ion-item lines="none" class="custom-input-mesa">
        <ion-label position="stacked">CATEGORÍA</ion-label>
        <ion-select [(ngModel)]="nuevaMesa.tipo" interface="popover" toggleIcon="chevron-down-outline">
          <ion-select-option value="Estándar">Estándar</ion-select-option>
          <ion-select-option value="VIP">VIP</ion-select-option>
          <ion-select-option value="Exterior">Exterior</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" shape="round" class="btn-generar-qr" (click)="generarMesa()">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        GENERAR MESA Y QR
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="qrGenerado" class="qr-result-card fade-in">
    <ion-card-header class="ion-text-center"> <ion-card-title class="nombre">QR - MESA {{nuevaMesa.numero}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content class="ion-text-center">
      <div class="qr-wrapper">
        <qrcode [qrdata]="nuevaMesa.qr_data!" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
      </div>
      
      <p class="pax-info">Tipo: {{nuevaMesa.tipo}} | Capacidad: {{nuevaMesa.comensales}} </p>
  
      <ion-button expand="block" fill="outline" class="btn-otra-mesa" (click)="limpiarFormulario()">
        <ion-icon slot="start" name="refresh-outline"></ion-icon>
        CARGAR OTRA MESA
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>